#bodylogin{
  width:1000px;
	height:600px;
	background-color:#e1e1e1;/*#447ab5;*/
	margin-top:20px;	
}
#bodylogin table{
	padding-left:30px;
}
#bodylogin span{
	font-size:18px;
	color:blue;
}
#bodylogin p{
	font-size:30px;
	color:blue;
	padding-left:30px;
	padding-top:30px;
}
#bodylogin input{
	width:250px;
	height:30px;
	border-radius:5px;
	
}
#bodylogin button{
	width:250px;
	height:30px;
	color:blue;
	font-weight:bold;
	border-radius:5px;
	background: rgb(181,189,200); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(181,189,200,1) 0%, rgba(130,140,149,1) 99%, rgba(40,52,59,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(99%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 99%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 99%,rgba(40,52,59,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 99%,rgba(40,52,59,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 99%,rgba(40,52,59,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
}
#login{
	width:600px;
	height:auto;
	float:left;
}
#login form p{
	color:red;
	font-size:20px;
	padding:5px;
}
/* End login---------------*/
#register{
	width:550px;
}
#register table{
	width:550px;
}
#register form p{
	color:red;
	font-size:20px;
	padding:5px;
}
